@import 'custom';

$primary: #2b2d42;
$secondary: #8d99ae;
$tertiary: #edf2f4;
$tertiaryHover: #d5d5d5;


html, body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
p {
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}
.bg-gray {
    background-color: $secondary;
}
section {
    padding: 50px 15px;
}
.container {
    max-width: 1065px;
}
.fa-star, .fa-star-half-stroke {
    color: #e9c306;
}
div[class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}
header {
    nav {
        a {
            color: $tertiary;
            font-size: 2em;
            padding: 5px 15px;
            &:hover {
                color: $tertiaryHover;
            }
        }
        button {
            margin: 5px 15px 5px 0;
            svg {
                color: $tertiary;
            }
        }
    }
}
button {
    &.btn-secondary, &.btn-primary {
        color: #fff;
    }
}
.home {
    .carousel {
        .carousel-inner {
            a.btn {
                border-radius: 0;
                font-weight: bold;
                font-size: 1rem;
                padding: 1rem 3rem;
                position: relative;
                z-index: 2;
            }
            .carousel-item {
                img {
                    max-height: 300px;
                }
            }
        }
        .carousel-control-prev, .carousel-control-next {
            width: 50px;
        }
        .carousel-indicators {
            bottom: -75px;
            [data-bs-target] {
                background-color: $primary;
            }
        }
    }
    .container {
        .col-md-4 {
            img {
                max-height: 125px;
                margin: auto;
            }
        }
    }
}

.pdp {
    .share-and-wishlist {
        svg {
            font-size: 2rem;
            &:nth-of-type(1) {
                margin-right: 15px;
            }
        }
        .listprice-and-save {
            del, p {
                font-size: 1rem;
            }
            del {
                color: $secondary;
            }
            h3 {
                font-size: 2.5rem;
            }
        }
    }
    .number-of-orders {
        .select  {
            select {
                height: 50px;
                border-radius: 0;
                font-size: 1.5rem;
                text-align: center;
            }
        }
        button {
            width: 49.5%;
            font-size: 1.5rem;
        }
    }
    
    .specs {
        table, tr, td {
            border: 1px solid $primary;
        }
        td {
            padding: 3px;
        }
    }
    .reviews {
        .col {
            .ratings {
                font-size: 1.25rem;
                font-weight: bold;
            }
        }
    }
    .review {
        margin-top: 10px;
        padding-top: 10px;
        &.d-flex {
            border-top: 1px solid $secondary;
        }
        .user {
            padding: 25px;
            background: $primary;
            text-align: center;
            font-size: 2.25rem;
            color: #fff;
        }
        .review-details {
            padding: 5px 0 5px 5px;
            p.username, p.date {
                font-size: .75rem;
                margin: 0;
                color: $secondary;
            }
            p.comment {
                margin: 2px 0;
                font-size: 1rem;
            }
        }
    }
    .review-button {
        margin-top: 10px;
        padding-top: 10px;
        button + button {
            margin-left: 10px;
        }
    }
}
.sku-card {
    display: inline-block;
    width: 300px;
    padding: 10px;
    .sku-img {
        a {
            width: 100%;
            background-color: $secondary;
            padding: 15px;
            text-align: center;
            display: block;
        }
        img {
            width: auto;
            max-height: 100px;
            max-width: 100%;
        }
    }
    .sku-name {
        a {
            font-size: 1rem;
            text-decoration: none;
        }
    }
    .list-price-review {
        del {
            font-size: .625rem;
            color: $secondary;
        }
        strong {
            color: #ff0000;
        }
    }
    .ratings {
        line-height: .5rem;
        svg, span {
            font-size: .75rem;
        }
    }
    p.display-price {
        font-weight: bold;
    }
}
@media(min-width: 360px) {

}
@media(min-width: 768px){
    .home {
        .carousel {
            min-height: 60vh;
            .carousel-control-prev {
                left: -50px;
            }
            .carousel-control-next {
                right: -50px;
            }
        }
    }
    
}
@media(min-width: 992px){
    .sku-card {
        width: 25%;
    }
    .pdp {
        .number-of-orders {
            .select {
                width: 19%;
            }
            .select-actions {
                width: 80%;
            }
        }
    }
}